* {
	margin: 0;
	padding: 0;
}
body {
	background-image: url("https://cdn.theatlantic.com/thumbor/EmW-E0FwUa0MhOoGk0BXYyBiBm0=/0x0:1718x1718/1718x1718/media/files/est/space-calculator/background6.jpg");
	background-size: cover;       
  	background-repeat: no-repeat; 
  	background-position: center;
}
#planet {
	position: relative;
	top: 50px;
	left: 50px;
	width: 400px;
	height: 400px;
}
#jupiter {
	width: 400px;
	height: 400px;
}
#spaceship {
	position: relative;
	top: 50px;
	left: 1000px;
	animation: crashed 4s infinite;
}
#rocket {
	width: 200px;
	height: 200px;
	transform: rotate(250deg);
}
@keyframes crashed {
	0% {
		transform: translate(0px, 0px);
	}
	30% {
		transform: translate(-600px, -250px);
	}
	60% {
		transform: translate(-550px, -225px);
	}
	80% {
		transform: translate(-600px, -250px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}